.personal_info,
.user_info {
    overflow: hidden;
}

.personal_info-bg {
    position: absolute;
    right: 0;
    bottom: -20px;
    font-size: 125px;
}

.user_info .fa-address-card {
    position: absolute;
    right: -25px;
    bottom: 5px;
    font-size: 150px;
}

.info_table td {
    padding: 5px 10px;
}

a:hover .fa-eye {
    color: royalblue;
}

#deleteAccount.disabled {
    filter: grayscale(50);
}

.all_users table * {
    border: none;
}

.all_users table td {
    padding: 10px 15px;
}

.all_users table tr:hover {
    cursor: default;
    color: #eee;
}

.deleteUser:hover i {
    color: red !important;
}

.demoteUser:hover i {
    color: orange !important;
}

.empowermentUser:hover i {
    color: green !important;
}

.userCabinet:hover i {
    color: royalblue !important;
}

.demoteUser,
.empowermentUser {
    font-size: 20px;
}
